<h1><%= @registered_application.name %></h1>
<p><%= @registered_application.url %></p>
<p><%= pie_chart @registered_application.events.group(:name).count %></p>

<%= link_to "Remove App Registeration", registered_application_path(@registered_application), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure?" } %>
